<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tambah Pegawai</title>

    <object th:include="fragments/fragments :: css" th:remove="tag"></object>
    <object th:include="fragments/fragments :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragments :: navbar"></nav>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                       <h1>Tambah Pegawai</h1>
                    </div>
                    <div class="card-body">
					<div class="container">
						<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
							
  							<div class="form-group">
    						<label for="nama">Nama</label>
    						<input type="text" class="form-control" name="nama" th:value="*{nama}" aria-describedby="emailHelp" required="required" placeholder="Enter nama">
  							</div>
  							<div class="form-group">
    						<label for="tempatLahir">Tempat Lahir</label>
    						<input type="text" class="form-control" name="tempatLahir" th:value="*{tempatLahir}" aria-describedby="emailHelp" required="required" placeholder="Enter tempat lahir">
  							</div>
  							<div class="form-group">
    						<label for="tanggalLahir">Tanggal Lahir</label>
    						<input type="text" class="form-control" name="tanggalLahir" th:value="*{tanggalLahir}" aria-describedby="emailHelp" required="required" placeholder="Enter tanggal lahir">
  							</div>
  							<div class="form-group">
    						<label for="tahunMasuk">Tahun Masuk</label>
    						<input type="text" class="form-control" name="tahunMasuk" th:value="*{tahunMasuk}" aria-describedby="emailHelp" required="required" placeholder="Enter tahun lahir">
  							</div>
  						<div class="form-group">
    						<label for="provinsi">Provinsi</label>
    						<select  class="form-control" required="required" name="provinsi" id="provinsi" >
							     	<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" ></option>
						    	</select>
						    	</div>
						    <div class="form-group">
    						<label for="instansi">Nama Instansi</label>
    						<select  class="form-control" required="required" name="instansi" id="instansi">
							     	<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}" ></option>
						    	</select>
						    	</div>
						    
						    	<div class="form-group">
    						<label for="jabatan">Jabatan</label>
    						<div th:each="jabatanPegawai,iterationStats : ${pegawai.jabatanList}">
    						<select  class="form-control" th:field="*{jabatanList[__${iterationStats.index}__]}"required="required" name="idJabatan">
							     	<option th:each="jabatan : ${listJabatan}"  th:selected="${jabatanPegawai.id==jabatan.id}" th:value="${jabatan.id}" th:text="${jabatan.nama}" ></option>
						    	</select>
						    	</div>
						    	<button type="submit" name="addRow">Tambah</button>
						    	</div>
       <button type="submit" class="btn btn-primary" name = "add">Submit</button>
    </form>
    </div>
    </div>
   
</body>
<script th:inline="javascript">
	$('#provinsi').change(
	     function() {
	         $.getJSON("/instansi/getFromProvinsi", {
	             provinsiId : $(this).val(),
	             ajax : 'true'
	         }, function(data) {
	             var html = '<option value="">Pilih Instansi</option>';
	             var len = data.length;
	             for ( var i = 0; i < len; i++) {
	                 html += '<option value="' + data[i].id + '">'
	                         + data[i].nama + '</option>';
	             }
	             html += '</option>';
	             $('#instansi').html(html);
	         });
	     });
	</script>
</html>
 